---
import { CommitsByDate } from "../components/CommitsByDate";
import Delimiter from "../layouts/Delimiter.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="GitHub Commits - by date">
	<main>
		<Delimiter>
			<CommitsByDate client:load />
		</Delimiter>
	</main>
</Layout>
