---
import { CommitsByFilter } from "../components/CommitsByFilter";
import Delimiter from "../layouts/Delimiter.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="GitHub Commits - filter">
	<main>
		<Delimiter>
			<CommitsByFilter client:load />
		</Delimiter>
	</main>
</Layout>
