---
import Delimiter from "../layouts/Delimiter.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="GitHub Commits - by keyword">
	<main>
		<Delimiter>
			<h1>hello world</h1>
		</Delimiter>
	</main>
</Layout>
