@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}
body {
  background-color: #111927;
  min-height: 100vh;
  background-image: url('./src/assets/svg/background-pattern.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
