@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

:root {
  color-scheme: dark light;
}
body {
  background-image:
        radial-gradient(at 47% 33%, hsla(162, 77%, 40%, 0.71) 0, transparent 59%);
  background-size: 1200px 1000px;
  background-repeat: no-repeat;
  min-height: 100vh;
}
